.caixa{
    
    background-color: #1c1c1c;
    border: 0.2vw solid #ccc;
    text-align: center;
    margin: auto;
    height: 700px;
    width: 600px;
    padding: 20px;
}
.caixa-real{
    margin-top: 50px;
}

.logo{
    width: 200px;
    height: 200px;
}

h1{
    color: white;
}

h2{ 
    color: white;
}